<div class=" d-none d-md-block d-xl-block flex-shrink-1 bd-highlight text-light background-ws-light rounded p-2" id="navbarSupportedContent">

	<p>inscription</p>
	<p>connexion</p>

	<div class="dropdown">


		<li class="nav-item dropdown">

			<ul class="navbar-nav list-unstyled">


				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle d-flex align-items-center link-dark text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

						<img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
						<strong>mdo</strong>

					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li>
							<a class="dropdown-item" href="#">Action</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Another action</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Something else here</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</div>
</li></div><div class="container-fluid d-block d-md-none d-xl-none mt-4">
<div class="d-grid gap-2 mx-2 d-block d-md-none d-xl-none">


	<button type="button" class="btn btn-warning btn-lg text-light title">Inscription</button>

	<button type="button" class="btn btn-warning btn-lg mb-2 text-light title">Connexion</button>

	<button type="button" class="btn btn-warning btn-lg text-light title">Anime</button>

	<button type="button" class="btn btn-warning btn-lg mb-2 text-light title">Manga</button>


</div></div>
