<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/assets/images/favicon.png">
	{% block stylesheet %}

		<link href="{{ ROOT_URL }}/assets/css/bootstrap.min.css" rel="stylesheet">

		<link rel="stylesheet" href="/assets/css/_root.css">
	{% endblock %}

	<title>
		{% block title %}jean
		{% endblock %}
	</title>

</head></html><body style="background:url('{% if anime_show.trailer.images.maximumImageUrl == true or manga_show.images.jpg.largeImageUrl == true %}{{ anime_show.trailer.images.maximumImageUrl }}{{manga_show.images.jpg.largeImageUrl}}{% endif %}') center center fixed ;">{% include "_Component/_header.html.twig" %}<div class="mx-4 background-ws-dark rounded shadow">

	<div class="row mx-4 mt-2">
		<div class="col-12 col-md-9 col-xl-10 background-ws-light rounded">
			{% include "_Component/_breadcrumb.html.twig" %}
			{% block content %}{% endblock %}

		</div>
		<div class="col-12 col-md-3 col-xl-2   mt-2">
			{% include "_Component/_nav.html.twig" %}
		</div>
	</div>
	{% include "_Component/_footer.html.twig" %}</div>
{% include "_Component/_donate.html.twig" %}{# {% include "_Component/_cookie.html.twig" %} #}<div class="paperOverlay"></div>
{% block javascript %}{% endblock %}</body></html>
